@{
    ViewData["Title"] = "Creditos";
}
    <link rel="stylesheet" href="site.css">
    <header>
        <h1>El Conjuro 4</h1>
        <p>Cagate de miedo</p>
        <img src="img/Banner.png" >
    </header>

<body>
    <p>Pedro Garcia. Rol:</p>
    <img src="img/" >
    <p>Ezequiel Berakla. Rol:</p>
    <img src="img/" >    
    <p>Santiago Varela. Rol:</p>
    <img src="img/" >
    <p>Jazmin Beigel. Rol:</p>
    <img src="img/" >
</body>