@{
    ViewData["Title"] = $"Habitación {ViewBag.Sala}";
}

<h2>@ViewData["Title"]</h2>

<p>Para pasar a la siguiente habitación y que Valak no te capture, 
tendras que pasar por una </p>

<img src="img/Banner.png" >

<form asp-action="Habitacion" method="post">
    <label>Clave:</label>
    <input type="text" name="clave" required>
    <button type="submit">VALIDAR</button>
</form>

<button onclick="alert('Pista 1: Mirá las paredes...')">Pista 1</button>

    <a href='@Url.Action("Index","Home")'>Volver a lo anterior</a>
