@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>El Conjuro 4</h1>
    <p>Cagate de miedo</p>
    <img src="img/imagen1.webp">
    <a href="tutorial.cshtml">Tutorial de la sala de escape</a>
    <a href="inicioJuego.cshtml">Iniciar Juego</a>
    <a href="creditos.cshtml">Creditos</a>
</div>
