@{
    ViewData["Title"] = "Index";
}

    <div>
        <div>
            <h1>Escape Room: El Conjuro 4</h1>
            <img src="img\Imagen1.webp" alt="Logo del Juego"/>
            <p>que no te atrapen!</p>
        </div>
    <a href='@Url.Action("Comenzar","Home")'>Comienza la sala</a>

        <div>
            <img src="img\imagenindex.jpg"/>
            <img src="imagen2.jpg" alt="Imagen Descriptiva 2" />
            <img src="imagen3.jpg" alt="Imagen Descriptiva 3" />
        </div>

        <div>
            <ul>
                <a href='@Url.Action("Tutorial","Home")'>Tutorial y explicacion</a>
            </ul>
            <ul>
                <a href='@Url.Action("Creditos","Home")'>Creditos</a>
            </ul>
            
        </div>
    </div>

