<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Inicio del Juego</title>
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1>Nombre del Juego</h1>
            <img src="ruta_al_logo_del_juego.png" alt="Logo del Juego" class="logo" />
            <p class="slogan">Slogan del Juego</p>
        </div>

        <div class="game-images">
            <img src="imagen1.jpg" alt="Imagen Descriptiva 1" />
            <img src="imagen2.jpg" alt="Imagen Descriptiva 2" />
            <img src="imagen3.jpg" alt="Imagen Descriptiva 3" />
        </div>

        <div class="links">
            <ul>
                <li><a href="tutorial.html">Tutorial del Juego</a></li>
                <li><a href="comenzar.html">Inicio del Juego</a></li>
                <li><a href="creditos.html">Créditos</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
