@{
    ViewData["Title"] = "Index";
}

    <div>
    <div>
        <h1>Escape Room: El Conjuro 4</h1>
        <img class="img1" src="img/Imagen1.webp" alt="Logo del Juego" />
        <p>¡que no te atrapen!</p>
    </div>

    <div class = botones>

    <a href='@Url.Action("Comenzar","Home")'>Comienza la sala</a>
    <a href='@Url.Action("Tutorial","Home")'>Tutorial y explicación</a>
    <a href='@Url.Action("Creditos","Home")'>Créditos</a>
    </div>

    <img class="img2" src="img/imagenindex.jpg" alt="Imagen Index" />
    <img src="imagen2.jpg" alt="Imagen Descriptiva 2" />
    <img src="imagen3.jpg" alt="Imagen Descriptiva 3" />

    <div>
        
    </div>
</div>


