@{
    ViewData["Title"] = "Tutorial";
}
    <link rel="stylesheet" href="site.css">
    <header>
        <h1>El Conjuro 4</h1>
        <p>Cagate de miedo</p>
        <img src="img/Banner.png" >
    </header>

<body>
    <p>La temática "El Conjuro" para una sala de escape sumerge a los participantes en una réplica de una casa encantada, donde deben resolver enigmas basados en la serie de películas de terror. Con amuletos misteriosos, artefactos encantados y referencias a casos paranormales, los jugadores trabajan juntos para escapar mientras enfrentan entidades sobrenaturales y mantienen el suspense con efectos sonoros inquietantes y una iluminación tensa.</p>
    <img src="img/" > // la imagen que vaya dentro de alguna de las salas
</body>

    