html {
  font-size: 14px;
  min-height: 100%;
  background-color: #000;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Aplica la fuente de terror a todo el contenido */

}




footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}

.imgconjuro{
  width: 30%;
}
.game {
  overflow: hidden; 
  width: 800px; 
  height: 600px;
  border: none; 
}
.img2 {
  width: 90%; 
  display: block; 
  margin: 0 auto; 
}
.img1{
  display: block; 
  margin: 0 auto; 
}
.botones {
  display: flex; 
  justify-content: center; 
  margin: 20px 0; 
}

.botones a {
  margin: 0 10px; 
  text-decoration: none; 
  color: #000; 
  padding: 10px 15px;
  border: 2px solid #000; 
  border-radius: 5px;
  margin-bottom: 2%;
  color: white;
  
}

*{
  color: white;
}
h1,p{
  display: flex; 
  justify-content: center;  
  font-size: xx-large;
}
