@{
    ViewData["Title"] = "Creditos";
}
    <link rel="stylesheet" href="site.css">
    <header>
        <h1>El Conjuro</h1>
        <img src="img/Banner.png" >
    </header>

<body>
    <p>Pedro Garcia. Rol: Backend/Frontend </p>
    <p>Ezequiel Berakla. Rol: Frontend/ Diseñador de salas</p>
    <p>Santiago Varela. Rol: Diseñador de salas</p>
    <p>Jazmin Beigel. Rol: Creadora de sala</p>
</body>
    ViewData["Title"] = "Créditos";


