@{
    ViewData["Title"] = "Creditos";
}
    <link rel="stylesheet" href="site.css">
    <header>
        <h1>Creditos</h1>
    </header>

<body>
<img class="img3" src="../img/imagencreditos.jpg" alt="Imagen Créditos">

    <p>Pedro Garcia. Rol: Backend/Frontend </p>
    <p>Ezequiel Berakla. Rol: Frontend/ Diseñador de salas</p>
    <p>Santiago Varela. Rol: Diseñador de salas</p>
    <p>Jazmin Beigel. Rol: Creadora de sala</p>
</body>


