
<p>Para pasar a la siguiente habitación y que Valak no te capture, 
tendras que pasar por una </p>
    <iframe src="https://www.youtube.com/watch?v=cZfeDbToqLk" title="Juego de Terror"></iframe>
<iframe allow="fullscreen; autoplay;" allowfullscreen width="795" height="690" frameborder="0" src="https://es.educaplay.com/juego/19614037-pesadilla_eterna.html"></iframe>
<form asp-action="Habitacion" method="post">
    <input type="hidden" name="sala" value="@ViewBag.Sala" />
    <label for="clave">Clave:</label>
    <input type="text" id="clave" name="clave" required />
    <button type="submit">VALIDAR</button>
</form>