<h1>Habitacion 4: Ed y Lorraine Warren</h1>
<p>Debes resolver los siguientes verdadero o falso.</p>

<iframe allow="fullscreen; autoplay;" allowfullscreen width="795" height="690" frameborder="0" src="https://es.educaplay.com/juego/19838769-cuestionario_de_el_conjuro.html"></iframe>

<p>No me quedó claro... Ed y Lorraine que eran?</p>

<form asp-action="Habitacion" method="post">
    <input type="hidden" name="sala" value="@ViewBag.Sala" />
    <input type="text" id="clave" name="clave" required />
            <button onclick="alert('Pista: Cumplian un rol de investigar casos paranormales')"> Pista 1</button>.
            <button onclick="alert('Pista: Es una sola palabra')"> Pista 2</button>.
    <button type="submit">VALIDAR</button>
</form>