<H1>Habitacion 1: Pasapalabra terrorifico</h1>


<p>Debes resolver el siguiente pasapalabra, estate muy atento a las palabras de las ultimas 3 letras</p>

<iframe allow="fullscreen; autoplay;" allowfullscreen width="795" height="690" frameborder="0" src="https://es.educaplay.com/juego/9490465-de_terror.html"></iframe>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<div class="botoneshabitacion">
    <form action='@Url.Action("Habitacion", "Home")' method="post">
        <input type="hidden" name="sala" value="@ViewBag.Sala" />
        <input type="text" name="clave" placeholder="Ingresa la clave" />
         <button onclick="alert('Pista: La palabra contiene 7 letras')"> Pista 1</button>.
        <button onclick="alert('Pista: La palabra de la Z es la correcta')"> Pista 2</button>.
        <button type="submit">VALIDAR</button>
        
    </form>

</div>
