@{
    ViewData["Title"] = "Index";
}
    <header>
    <div>
        <img src="img/Banner.png" >

    </div>

    </header>

    <img class="img2" src="img/imagenindex.jpg" alt="Imagen Index" />

    <audio src="wwwroot\audio\index.mp3" autoplay loop></audio>



</div>


