@{
    ViewData["Title"] = "Index";
}
    <header>
    <div>
        <img src="img/Banner.png" >

    </div>

    </header>

    <img class="img2" src="img/imagenindex.jpg" alt="Imagen Index" />




</div>


