@{
    ViewData["Title"] = "Tutorial";
     <link rel="stylesheet" href="site.css">
}
   
    <header>
        <h1>Tutorial</h1>

    </header>

<body>
<img class="img4" src="../img/imagentutorial.jpg" alt="Imagen Tutorial">

    <p>En esta sala de escape "El Conjuro", deberan resolver enigmas basados en la pelicula de terror. Debera enfrentar desafios con diferentes objetivos para lograr la victoria de la sala, 
    son 5 salas en las cuales va a haber desafios para resolver y conseguir una clave para pasar a la siguiente sala. Estan Listos??? lo dudo ....</p>
</body>

