@{
    ViewData["Title"] = "¡Felicidades! Has escapado.";
}

<h2>@ViewData["Title"]</h2>

<p>¡Enhorabuena, has logrado escapar de la Sala de Escape, @ViewBag.NombreJugador!</p>

<p>Intentos extra: @ViewBag.IntentosExtras</p>
<p>Pistas extra utilizadas: @ViewBag.PistasExtras</p>
